/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
  /* DO NOT DELETE BELOW CODE */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 500px){
  body {
    width: 99%;
  }
  .nav-wrapper{
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .navigation .links {
    display: none;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  position: fixed;
  top: 0;
  box-shadow: 2px 2px 50px rgba(0, 0, 0, 0.137);
}

.brand-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(33, 47, 248);
  text-decoration: none;
  cursor: pointer;
  margin-left: 40px;
}

.navigation {
  display: flex;
  flex-direction: row;
  color: blue;
  list-style-type: none;
  padding-right: 10px;
}

.navigation .links {
  width: 150px;
  margin-right: 40px;
  background-color: rgb(67, 79, 241);
  margin-right: 50px;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  cursor: pointer;
}

.navigation .links:hover {
  background-color: #202ef8;
  transition: .5s;
}

.navigation .links a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: .8rem;
  font-weight: 500;
}

/* End of Navigation */

/* WELCOME SECTION */

.container-card {
  display: flex;
  flex-direction: column;
  margin: 200px auto;
  padding: 60px;
  width: 20%;
  height: 400px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.089);
}

@media (max-width: 800px){
  .container-card {
    margin: 100px auto;
    width: 60%;
  }
}

@media (max-width: 500px){
  .container-card {
    margin: 100px auto;
    width: 60%;
  }
}

.welcome {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgb(53, 53, 53);
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  border-bottom: 2px solid rgb(236, 236, 236);
  padding: 5% 0% 15% 0%;
}

.welcome-description {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: rgb(85, 85, 85);
  text-align: center;
  padding-bottom: 2%;
  padding-top: 15%;
  line-height: 20px;
}

.card-btn {
  margin: 0 auto;
  margin-top: 10%;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px 30px 20px 30px;
  background-color: rgb(30, 230, 47);
  border: 0px solid black;
  border-radius: 3px;
  font-weight: 700;
  color: white;
  cursor: pointer;  
}

.card-btn:hover {
  background-color: rgb(108, 241, 67);
  border: 0px solid black;
  color: white;
  transition: .5s;
}

.card-btn-2 {
  margin: 0 auto;
  width: 100%;
  padding: 20px 30px 20px 30px;
  background-color: rgb(67, 79, 241);
  border: 0px solid black;
  border-radius: 3px;
  font-weight: 700;
  color: white;
  cursor: pointer;  
}

.card-btn-2:hover {
  background-color: #202ef8;
  border: 0px solid black;
  color: white;
  transition: .5s;
}

/* SIGN IN SECTION */

.sign-in-card {
  margin: 40px auto;
  padding: 60px;
  display: flex;
  flex-direction: column;
  margin: 200px auto;
  padding: 60px;
  width: 20%;
  height: 300px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.089);
}

@media (max-width: 800px) {
  .sign-in-card {
    width: 50%;
    margin: 120px auto;
  }
}

.validate {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 1.5px solid #202ef8;
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: white;
}

@media (max-width: 500px) {
  .validate {
    margin-top: 20%;
  }
}

.validate:hover {
  transition: .5s;
  box-shadow: 0px 0px 12px #168effbd;
}

.signin-text {
  color: grey;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-bottom: 15px;
  padding-right: 40%;
  padding-left: 40%;
  border-bottom: 2px solid rgb(231, 231, 231);
}

@media (max-width: 500px) {
  .signin-text {
    padding-right: 80px;
    padding-left: 80px;
  }
}

.card-btn-signin {
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px 30px 35px 30px;
  background-color: rgb(67, 79, 241);
  border: 0px solid black;
  border-radius: 3px;
  font-weight: 700;
  color: white;
  cursor: pointer;  
}

.card-btn-signin:hover {
  transition: .5s;
  background-color: #0d1df5;
}

/* CREATE ACCOUNT SECTION */
.create-account-card {
  margin: 40px auto;
  padding: 60px;
  display: flex;
  flex-direction: column;
  margin: 200px auto;
  width: 25%;
  height: auto;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.089);
}

@media (max-width: 800px) {
  .create-account-card {
    width: 70%;
    margin: 100px auto;
    padding-top: 30px;
  }
}

.validate-create {
  height: 30px;
  width: 70%;
  border-radius: 5px;
  border: 1.5px solid #202ef8;
  margin-top: 2%;
  margin-bottom: 5%;
  background-color: white;
}

.create-title {
  color: grey;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  padding-bottom: 15px;
}

.create-account-btn {
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 20px;
  width: 50%;
  padding: 20px 30px 20px 30px;
  background-color: rgb(67, 79, 241);
  border: 0px solid black;
  border-radius: 3px;
  font-weight: 700;
  color: white;
  cursor: pointer; 
}

.create-account-btn:hover {
  transition: .5s;
  background-color: #0d1df5;
}
/* USER LINKS */

.signed-in-nav{
  display: flex;
  flex-direction: row;
  color: blue;
  list-style-type: none;
  padding-right: 10px;
}

.signed-in-nav .links {
  width: 150px;
  margin-right: 40px;
  background-color: rgb(67, 79, 241);
  margin-right: 50px;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 800px) {
  .signed-in-nav .links {
    width: 80px;
    margin-right: 40px;
    background-color: rgb(67, 79, 241);
    margin-right: 50px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .signed-in-nav .links {
    margin: 0 auto;
    margin-top: 10px;
  }
}

.signed-in-nav .links a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: .8rem;
  font-weight: 500;
}

/* POSTS CONTAINER */

.container {
  width: 75%;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}

@media (max-width: 800px){
  .container {
    display: flex;
    flex-direction: column;
  }
}

.container h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

/* POSTS */

.posts {
  background-color: white;
  border-radius: 8px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.089);
  margin-bottom: 30px;
  width: 100%;
}

.post-content {
  display: flex;
  flex-direction: column;
}

.card-large {
  padding: 20px 0px 20px 0px;
  height: auto;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: rgb(67, 79, 241);
  font-weight: 700;
  font-size: 1.5rem;
  padding-top: 10px;
}

.card-content {
  font-family: 'Roboto', sans-serif;
  color: rgb(99, 99, 99);
  padding: 15px 30px 15px 30px;
  text-align: left;
}

.buttons {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.update-btn {
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px 30px 20px 30px;
  background-color: rgb(67, 79, 241);
  border: 0px solid black;
  border-radius: 3px;
  font-weight: 700;
  color: white;
  cursor: pointer; 
}

.delete-btn {
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px 30px 20px 30px;
  background-color: rgb(230, 23, 23);
  border: 0px solid black;
  border-radius: 3px;
  font-weight: 700;
  color: white;
  cursor: pointer; 
}

/* CREATE POST */

.dashboard-card {
  padding: 60px;
  display: flex;
  flex-direction: column;
  margin: 150px auto;
  width: 60%;
  height: 450px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.089);
}

textarea.materialize-textarea {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #202ef8;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

textarea.description-textarea {
  height: 100px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #202ef8;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-image {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: grey;
  padding-right: 10px;
}

.file-path {
  height: 30px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #202ef8;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.add-info {
  color: grey;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.create-post-btn {
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 20px;
  width: 20%;
  padding: 20px 30px 20px 30px;
  background-color: rgb(67, 79, 241);
  border: 0px solid black;
  border-radius: 3px;
  font-weight: 700;
  color: white;
  cursor: pointer; 
}

.create-post-btn:hover {
  transition: .5s;
  background-color: #202ef8;
}

/* .post {
  border: 1px solid lightgrey;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.photo {
  width: 100%;
}

.blue-button {
  display: flex;
  background-color: blue;
  color: white;
  list-style-type: none;
  padding-right: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.input-div {
  display: flex;
  flex-direction: column-reverse;
}

.validate {
  padding: 0;
} */